.strategie-item {
  .strategie-icon-wrap {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    transform: scale(1.5);
    margin-top: 33px;

    .ball {
      position: absolute;
      top: 10px;
      left: -7px;
      width: 7px;
      height: 7px;
      opacity: 0;
      background-color: #9dd89c;
      @include border-radius(10px);
    }
  }

  &:hover,
  &.autoplay {

    @-webkit-keyframes ball {
      0% {
        top: 10px;
        left: -7px;
      }

      9% {
        top: 10px;
        left: 19px;
        opacity: 1;
      }

      18% {
        top: 28px;
        left: 19px;
      }

      27% {
        top: 28px;
        left: 37px;
      }

      36% {
        top: 10px;
        left: 37px;
      }

      45% {
        top: 10px;
        left: 63px;
      }

      54% {
        top: 46px;
        left: 63px;
      }

      63% {
        top: 46px;
        left: 81px;
      }

      72% {
        top: 63px;
        left: 81px;
      }

      81% {
        top: 63px;
        left: 72px;
      }

      90% {
        top: 81px;
        left: 72px;
        opacity: 1;
      }

      100% {
        top: 81px;
        left: 100px;
        opacity: 0;
      }
    }

    @keyframes ball {
      0% {
        top: 10px;
        left: -7px;
      }

      9% {
        top: 10px;
        left: 19px;
        opacity: 1;
      }

      18% {
        top: 28px;
        left: 19px;
      }

      27% {
        top: 28px;
        left: 37px;
      }

      36% {
        top: 10px;
        left: 37px;
      }

      45% {
        top: 10px;
        left: 63px;
      }

      54% {
        top: 46px;
        left: 63px;
      }

      63% {
        top: 46px;
        left: 81px;
      }

      72% {
        top: 63px;
        left: 81px;
      }

      81% {
        top: 63px;
        left: 72px;
      }

      90% {
        top: 81px;
        left: 72px;
        opacity: 1;
      }

      100% {
        top: 81px;
        left: 100px;
        opacity: 0;
      }
    }

    .ball {
      -webkit-animation-name: ball;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: ball;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}

.marketing-item {
  .marketing-icon-wrap {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    transform: scale(1.5);
    margin-top: 33px;

    .text-block-wrap {
      position: absolute;
      top: 0;
      left: 15px;
      right: 0;
      bottom: 0;

      .text-1 {
        position: absolute;
        top: 25px;
        left: 15px;
        width: 70px;
        height: 8px;
        opacity: 1;
        background-color: #FFF;
        @include border-radius(5px);
      }

      .text-2 {
        position: absolute;
        top: 38px;
        left: 15px;
        width: 70px;
        height: 8px;
        opacity: 1;
        background-color: #FFF;
        @include border-radius(5px);
      }

      .text-3 {
        position: absolute;
        top: 51px;
        left: 15px;
        width: 70px;
        height: 8px;
        opacity: 1;
        background-color: #FFF;
        @include border-radius(5px);
      }

      .text-4 {
        position: absolute;
        top: 64px;
        left: 15px;
        width: 45px;
        height: 8px;
        opacity: 1;
        background-color: #FFF;
        @include border-radius(5px);
      }

      /*            .cursor {
                    position: absolute;
                    top: 25px;
                    left: 15px;
                    height: 8px;
                    width: 2px;
                    span {
                      width: 2px;
                      height: 8px;
                      opacity: 0;
                      background-color: #FFF;
                      display: block;
                    }
                  }*/
    }
  }

  &:hover,
  &.autoplay {
    @-webkit-keyframes textWrapper {
      0% {
        left: 0;
        opacity: 1;
      }

      60% {
        left: 0;
      }

      70% {
        left: 15px;
      }

      90% {
        left: 15px;
        opacity: 1;
      }

      100% {
        left: 70px;
        opacity: 0;
      }
    }

    @-webkit-keyframes text1 {
      0% {
        width: 0px;
      }

      10% {
        width: 0px;
      }

      20% {
        width: 70px;
      }

      100% {
        width: 70px;
      }
    }

    @-webkit-keyframes text2 {
      0% {
        width: 0px;
      }

      20% {
        width: 0px;
      }

      30% {
        width: 70px;
      }

      100% {
        width: 70px;
      }
    }

    @-webkit-keyframes text3 {
      0% {
        width: 0px;
      }

      30% {
        width: 0px;
      }

      40% {
        width: 70px;
      }

      100% {
        width: 70px;
      }
    }

    @-webkit-keyframes text4 {
      0% {
        width: 0px;
      }

      40% {
        width: 0px;
      }

      50% {
        width: 50px;
      }

      100% {
        width: 50px;
      }
    }

    @keyframes textWrapper {
      0% {
        left: 0;
        opacity: 1;
      }

      60% {
        left: 0;
      }

      70% {
        left: 15px;
      }

      90% {
        left: 15px;
        opacity: 1;
      }

      100% {
        left: 70px;
        opacity: 0;
      }
    }

    @keyframes text1 {
      0% {
        width: 0px;
      }

      10% {
        width: 0px;
      }

      20% {
        width: 70px;
      }

      100% {
        width: 70px;
      }
    }

    @keyframes text2 {
      0% {
        width: 0px;
      }

      20% {
        width: 0px;
      }

      30% {
        width: 70px;
      }

      100% {
        width: 70px;
      }
    }

    @keyframes text3 {
      0% {
        width: 0px;
      }

      30% {
        width: 0px;
      }

      40% {
        width: 70px;
      }

      100% {
        width: 70px;
      }
    }

    @keyframes text4 {
      0% {
        width: 0px;
      }

      40% {
        width: 0px;
      }

      50% {
        width: 50px;
      }

      100% {
        width: 50px;
      }
    }

    .text-block-wrap {
      -webkit-animation-name: textWrapper;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-fill-mode: forwards;
      animation-name: textWrapper;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-delay: 0s;

      .text-1 {
        -webkit-animation-name: text1;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-fill-mode: forwards;
        animation-name: text1;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }

      .text-2 {
        -webkit-animation-name: text2;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-fill-mode: forwards;
        animation-name: text2;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }

      .text-3 {
        -webkit-animation-name: text3;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-fill-mode: forwards;
        animation-name: text3;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }

      .text-4 {
        -webkit-animation-name: text4;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-fill-mode: forwards;
        animation-name: text4;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }

      /*            .cursor {
                    -webkit-animation-name: cursorMove; 
                    -webkit-animation-duration: 8s; 
                    -webkit-animation-iteration-count: 1;
                    animation-name: cursorMove;
                    animation-duration: 8s;
                    animation-iteration-count: 1;
                    span {
                      -webkit-animation-name: cursor; 
                      -webkit-animation-duration: .4s; 
                      -webkit-animation-iteration-count: infinite;
                      animation-name: cursor;
                      animation-duration: .4s;
                      animation-iteration-count: infinite;
                    }
                  }*/
    }
  }
}

.design-item {
  .design-icon-wrap {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    transform: scale(1.5);
    margin-top: 33px;
    width: 100px;
    height: 100px;

    svg {
      width: 100px;
      height: 100px;

      .st0 {
        fill: $design;
      }
    }

    .shape {
      width: 50px;
      height: 50px;
      background-color: $design;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &:hover,
  &.autoplay {
    @-webkit-keyframes designWrap {
      0% {
        transform: rotate(0deg);
      }

      50% {
        transform: rotate(90deg);
      }

      100% {
        transform: rotate(180deg);
      }
    }

    @keyframes designWrap {
      0% {
        transform: rotate(0deg);
      }

      50% {
        transform: rotate(90deg);
      }

      100% {
        transform: rotate(180deg);
      }
    }

    @-webkit-keyframes shape {
      25% {
        @include border-radius(50px);
      }

      50% {
        @include border-radius(0px);
      }

      75% {
        @include border-radius(50px);
      }

      100% {
        @include border-radius(0px);
      }
    }

    @keyframes shape {
      25% {
        @include border-radius(50px);
      }

      50% {
        @include border-radius(0px);
      }

      75% {
        @include border-radius(50px);
      }

      100% {
        @include border-radius(0px);
      }
    }

    .shape {
      -webkit-animation-name: shape;
      -webkit-animation-duration: 8s;
      -webkit-animation-iteration-count: infinite;
      animation-name: shape;
      animation-duration: 8s;
      animation-iteration-count: infinite;
    }

    .design-icon-wrap {
      -webkit-animation-name: designWrap;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-name: designWrap;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

  }
}

.websites-item {
  .websites-icon-wrap {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    transform: scale(1.5);
    margin-top: 33px;

    svg {
      .st0 {
        fill: $website;
      }
    }

    .code {
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
      width: 70px;
    }

    .square {
      background-color: $white;
      @include border-radius(3px);
      position: absolute;

      &.square1 {
        height: 10px;
        top: 33px;
        left: 5px;
        right: 5px;
        opacity: 0;
      }

      &.square2 {
        width: 25px;
        height: 47px;
        top: 48px;
        left: 5px;
        opacity: 0;
      }

      &.square3 {
        width: 60px;
        height: 47px;
        top: 48px;
        right: 5px;
        opacity: 0;
      }
    }
  }

  &:hover,
  &.autoplay {

    @keyframes code {
      0% {
        width: 70px;
      }

      10% {
        width: 0px;
      }

      80% {
        width: 0px;
      }

      90% {
        width: 70px;
      }

      100% {
        width: 70px;
      }
    }

    @keyframes square1 {
      12% {
        opacity: 0;
      }

      15% {
        opacity: 1;
        height: 13px;
        left: 0;
        right: 0;
      }

      17% {
        opacity: 1;
        height: 10px;
        left: 5px;
        right: 5px;
      }

      70% {
        opacity: 1;
        height: 10px;
        left: 5px;
        right: 5px;
      }

      75% {
        opacity: 0;
        height: 0px;
        left: 20px;
        right: 20px;
      }
    }

    @keyframes square2 {
      22% {
        opacity: 0;
        left: 5px;
      }

      25% {
        opacity: 1;
        height: 55px;
        width: 32px;
        left: 0;
      }

      27% {
        opacity: 1;
        height: 47px;
        width: 25px;
        left: 5px;
      }

      70% {
        opacity: 1;
        height: 47px;
        width: 25px;
        left: 5px;
      }

      75% {
        opacity: 0;
        height: 0px;
        width: 0px;
        left: 5px;
      }
    }

    @keyframes square3 {
      32% {
        opacity: 0;
        right: 5px;
      }

      35% {
        opacity: 1;
        height: 55px;
        width: 65px;
        right: 0;
      }

      37% {
        opacity: 1;
        height: 47px;
        width: 60px;
        right: 5px;
      }

      70% {
        opacity: 1;
        height: 47px;
        width: 60px;
        right: 5px;
      }

      75% {
        opacity: 0;
        height: 0px;
        width: 0px;
        right: 5px;
      }
    }

    .code {
      -webkit-animation-name: code;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-name: code;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    .square1 {
      -webkit-animation-name: square1;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-name: square1;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    .square2 {
      -webkit-animation-name: square2;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-name: square2;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    .square3 {
      -webkit-animation-name: square3;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-name: square3;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes rotation {
  0% {
    // position: fixed;
    // top: 50%;
    // transform: translate(0%, -50%);
    // height: 100px;
    // width: 100px !important;
    transform: translate(0%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(0%, -50%) rotate(360deg);
    // position: relative;
    // top: 0%;
    // transform: translate(0%, -50%);
    // height: 100px;
    // width: 100px !important;
  }
}

@keyframes moreMargin {
  0% {
    margin-left: 5px;
    margin-right: 5px;
  }

  50% {
    margin-left: 15px;
    margin-right: 15px;
    transform: scale(2);
  }

  100% {
    margin-left: 5px;
    margin-right: 5px;

  }
}


.bullets {
  // animation: 3s rotation infinite ease;

  .bullet {
    // animation: 3s moreMargin infinite ease;
  }
}

// animations for library

.should-animate {
  animation-duration: 2s;
  animation-fill-mode: forwards;

  @media(max-width: $screen-sm-max) {
    // we disable the animations.

    &,
    * {
      opacity: 1 !important;
      transform: unset;
      animation: none !important;
    }

    & {
      width: 100% !important;
    }
  }
}

.ml13,
[class*="fadeIn"],
[class*="FadeIn"] {
  opacity: 0;

  @media(max-width: $screen-sm-max) {

    &,
    .letter {
      opacity: 1 !important;
    }
  }
}

.remove__animate {
  -webkit-animation-name: hidden !important;
  animation-name: hidden !important;
  opacity: 0;
}

.ml13 .letter {
  opacity: 0;
}

@keyframes fadeInArrowImageDown {
  0% {
    height: 0;
  }

  100% {
    height: 25vh;
  }
}

@keyframes fadeInArrowImageRight {
  0% {
    width: 0;
  }

  100% {
    width: calc(100% - 85px);
  }
}

@keyframes fadeInArrowUp {
  0% {
    bottom: -25px;
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes smallFadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes smallFadeInRight {
  0% {
    transform: translateX(15px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes widthInRight {
  0% {
    width: 0;
    //opacity: 0;
  }

  100% {
    width: 100%;
    //opacity: 1;
  }
}

@keyframes widthInRight75 {
  0% {
    width: 0;
    //opacity: 0;
  }

  100% {
    width: 71.8%;
    //opacity: 1;
  }
}

@keyframes widthInRight60 {
  0% {
    width: 0;
    //opacity: 0;
  }

  100% {
    width: 60%;
    //opacity: 1;
  }
}

@keyframes widthInRight {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeInCenter {
  0% {
    opacity: 0;
    transform-origin: center center;
  }

  100% {
    opacity: 1;
  }
}

.animate__widthInRight {
  -webkit-animation-name: widthInRight;
  animation-name: widthInRight;
}

.animate__widthInRight75 {
  -webkit-animation-name: widthInRight75;
  animation-name: widthInRight75;

  @media(max-width: $screen-lg-max) {
    -webkit-animation-name: widthInRight;
    animation-name: widthInRight;
  }
}

.animate__widthInRight60 {
  -webkit-animation-name: widthInRight60;
  animation-name: widthInRight60;

  @media(max-width: $screen-md-max) {
    -webkit-animation-name: widthInRight;
    animation-name: widthInRight;
  }
}

.animate__fadeInArrowImageDown {
  -webkit-animation-name: fadeInArrowImageDown;
  animation-name: fadeInArrowImageDown;
}

.animate__fadeInArrowImageRight {
  -webkit-animation-name: fadeInArrowImageRight;
  animation-name: fadeInArrowImageRight;
}

.animate__smallFadeInUp {
  -webkit-animation-name: smallFadeInUp;
  animation-name: smallFadeInUp;
}

.animate__smallFadeInRight {
  -webkit-animation-name: smallFadeInRight;
  animation-name: smallFadeInRight;
}

.animate__fadeInCenter {
  -webkit-animation-name: fadeInCenter;
  animation-name: fadeInCenter;
}

[data-inner-animation]>*:not(h2, h3, h4, h5, h6, blockquote) {
  opacity: 0;
}