.wpcf7-list-item {
  margin-left: 0 !important;
  line-height: 24px;
}

[class*=template-page-standard] {

  .hide {
    display: none !important;
  }

  form {
    .form-group {
      margin-bottom: 15px;

      >label {
        // font-weight: bold;
        display: block;
        // margin-bottom: 5px;
        font-size: 20px;

      }

      .wpcf7-acceptance {
        label {
          color: #000 !important;
          left: 0 !important;
          gap: 10px;
          @include ycenter();
        }
      }

      .wpcf7-form-control-wrap {
        margin-top: 10px;
        display: block;
      }

      input:not([type=checkbox]):not([type=radio]):not([type=submit]),
      textarea {
        padding: 10px;
        border: 1px solid #171716;
        display: block;
        width: 100%;
        font-family: $font;
      }

      .form-control {
        position: relative;

        &.textarea {
          label {
            transform: translate(0);
            top: 15px;
          }
        }

        &.input-focus,
        &.input-filled {
          label {
            font-size: 10px;
            top: 0px;
            left: 10px;
            transform: none;
            color: #555;
          }
        }



        label {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          left: 15px;
          color: #ccc;
          cursor: text;
          font-size: 15px;
          @include transition();
        }

        .wpcf7-form-control-wrap {
          margin-top: 0;

          input[type=text],
          textarea {
            padding-top: 20px;
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // flex-direction: row-reverse;
    }
  }
}