.gform-body {
  text-align: left !important;
}
.gform_wrapper input::placeholder,
.gform_wrapper textarea::placeholder {
  color: #ccc !important; /* Change to your desired color */
  opacity: 1; /* Ensures full visibility */
}
#gform_submit_button_2,
#gform_submit_button_4 {
  background-color: #65c1c2 !important;
}
#gform_submit_button_3,
#gform_submit_button_1 {
  background-color: transparent !important;
  border: 1px white solid !important;
}
.gform_wrapper input:focus,
.gform_wrapper textarea:focus,
.gform_wrapper select:focus {
  border-color: #65c1c2 !important; /* Change to your desired color */
}
.gform_fields {
  row-gap: 15px !important;
}
.gform_validation_errors {
  display: none !important;
}
