@mixin box-shadow($values) {
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  box-shadow: $values;
}

@mixin border-radius($values) {
  border-radius: $values;
  -moz-border-radius: $values;
  -webkit-border-radius: $values;
  border: 0px solid #000000;
}

@mixin apply-page-theme($main-color, $opacity-color) {
  .intro-content-new {
    .content {
      h1 {
        color: $main-color;
      }

      a {
        color: $main-color;
      }
    }
  }

  .contactperson {
    .background {
      background-color: $opacity-color;
    }

    .inner-contactperson {
      .content {
        h3 {
          .word {
            &.theme-color-single {
              color: $main-color;
            }
          }
        }

        a {
          color: $main-color;
        }
      }
    }
  }

  .text-with-image {
    &.textfields-only {
      &.k-container {
        &.theme-color {

          .text-container {
            background-color: $opacity-color;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            ul li,
            ol li {
              color: $black;
            }

          }
        }

        &.black-color {

          .text-container {
            background-color: #000;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            ul li,
            ol li {
              color: $white;
            }

          }
        }
      }
    }

    .background {
      &.theme-color {
        background-color: $opacity-color;
      }
    }

    .text-container {
      .btn {
        background-color: $main-color;
        border: 0;
        color: $white;

        &:before {
          background-color: $kleur1;
        }

        &:hover {
          opacity: 1;
          // background-color: $opacity-color;


        }
      }

      a {
        color: $main-color;
      }
    }
  }

  .projects {
    h3 {
      .word {
        &:first-child {
          color: $main-color;
        }
      }
    }
  }

  .small-vacatures {
    h3 {
      span {
        color: $main-color;
      }
    }
  }

  &:not(.quote) {
    blockquote {
      p {
        color: #000 !important;
      }
    }
  }
}


@mixin box-shadow($values) {
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  box-shadow: $values;
}

@mixin border-radius($values) {
  border-radius: $values;
  -moz-border-radius: $values;
  -webkit-border-radius: $values;
}

@mixin placeholder($color, $size) {
  ::-webkit-input-placeholder {
    color: $color;
    font-size: $size;
  }

  ::-moz-placeholder {
    color: $color;
    font-size: $size;
  }

  :-ms-input-placeholder {
    color: $color;
    font-size: $size;
  }

  :-moz-placeholder {
    color: $color;
    font-size: $size;
  }
}


@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ycenter() {
  display: flex;
  align-items: center;
}

@mixin xcenter() {
  display: flex;
  justify-content: center;
}

@mixin transition() {
  transition: 230ms all cubic-bezier(.25, .8, .25, 1);
}

@mixin fit() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin clearfix() {
  clear: both;
  display: table;
  content: "";
}

@mixin fade-in($transition: true, $slide-in: true) {
  visibility: visible;
  opacity: 1;

  @if($slide-in ) {
    transform: translateY(0%);
  }

  @if ($transition) {
    @include transition();
  }

}

@mixin fade-out($transition: false, $slide-in: true) {
  visibility: hidden;
  opacity: 0;


  @if($slide-in ) {
    transform: translateY(-10%);
  }

  @if ($transition) {
    @include transition();
  }
}

@mixin font-awesome($icon) {
  content: $icon;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  // content: "\f007";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}