
// ----------------------- MAIN COLORS ----------------------- //

$black: #171716;
$white: #fff;

$bg-color: #ffffff;
$text-color: #1C1C1C;

$kleur1: #65c1c2;
$kleur2: #98A7A7;
$kleur3: #171716;
$kleur4: #E7E7E7;
$strategie:   #51AC86;
$design:      #C984B7;
$marketing:   #E86F84;
$website:     #F3B349;

// ----------------------- SIZES ----------------------- //

$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1199px;
$screen-xl-max: 1340px;


// ----------------------- FONTS ----------------------- //

$alt-font: source-code-pro, monospace;
$font: 'Source Sans Pro', sans-serif;
$header-font: forma-djr-micro, sans-serif;


/*@font-face {
  font-family: 'font';
  src: url("../fonts/font.eot");  IE9 Compat Modes
  src: url('../fonts/font.eot?#iefix') format('embedded-opentype'),  IE6-IE8
       url('../fonts/font.woff2') format('woff2'),  Super Modern Browsers
       url('../fonts/font.woff') format('woff'),  Pretty Modern Browsers
       url('../fonts/font.ttf')  format('truetype');  Safari, Android, iOS
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font';
  src: url("../fonts/font-bold.eot");  IE9 Compat Modes
  src: url('../fonts/font-bold.eot?#iefix') format('embedded-opentype'),  IE6-IE8
       url('../fonts/font-bold.woff2') format('woff2'),  Super Modern Browsers
       url('../fonts/font-bold.woff') format('woff'),  Pretty Modern Browsers
       url('../fonts/font-bold.ttf')  format('truetype');  Safari, Android, iOS
 font-weight: bold;
}*/
