.is-active{
    .acf-fields{
        > div{
            display: block;
        }
    }
}

.is-inactive{
    opacity: .3;
    transition: 230ms ease opacity;

    &:hover{
        opacity: 1;
    }

    .acf-fields{
        > div{
            display: none;
        }

        > div[data-name="type_section"]{
            display: block;
        }
    }
}